/* ---------PORTFOLIO CSS----------------- */

.container {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 50vh;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid whitesmoke;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #9ea59e;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin: 20px;
}

p {
  color: azure;
}

.section-header h1 {
  color: orange;
}

/* -----------FOR SAMPLES OF PORTFOLIO----------------- */
.portfolioContainer {
  border: 2px solid black;
}

h1 {
  align-content: center;
  text-align: center;
}

.box {
  border: 10px solid black;
}

.content figure img {
  border: 1px solid white;
  height: auto;
  width: 500px;
}

.content figure {
  width: 550px;
  height: auto;
  background: black;
  border-radius: 10px;
  border: solid 1px white;
  padding: 10px;
  color: white;
  justify-items: center;
  justify-content: center;
  font-size: 20px; /*font size under picture*/
}

/*Font of the Figure will be resize*/
.content figure figcaption {
  font-size: 0.8em;
}
