@charset "utf-8";

/*
Theme Name: CarForYou - Responsive Car Dealer HTML5 Template.
Author: WMD Team
Version:1.0
*/

/*====================
	1. General code
==========================*/

/* SOCIAL MEDIA */

.social_media i {
  padding: 5px;
  font-size: 1.5rem;
}

/*-----------------
	1.2. Button
-------------------------*/

.btn {
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  margin: auto;
  padding: 7px 36px;
  transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
}
.btn .fa {
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
.btn.btn-lg {
  font-size: 28px;
  line-height: 35px;
  padding: 25px 83px;
}
.btn.btn-lg:hover {
  background: #c51514;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  outline: none;
}
.btn-link {
  font-weight: 800;
}
.btn.outline {
  background: none;
  border-style: solid;
  border-width: 1px;
}
.btn.outline:hover,
.btn.outline:focus {
  color: #fff;
}
.btn.btn-xs {
  font-size: 12px;
  padding: 0px 25px;
}
.btn.btn-xs .fa {
  margin: 0 5px;
  font-size: 14px;
}

.angle_arrow {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  line-height: 20px;
  margin-left: 4px;
  text-align: center;
  vertical-align: text-top;
  width: 22px;
}
.btn .angle_arrow .fa {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  vertical-align: middle;
}
.btn.outline.active-btn {
  border-color: #089901;
  color: #089901;
}
.btn.outline.active-btn:hover {
  background: #089901;
  color: #fff;
}

a:hover,
a:focus,
.btn-link:hover {
  color: skyblue;
  /*#ff0012*/
  fill: #ff0012;
}

.btn,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.recent-tab .nav.nav-tabs li.active a,
.fun-facts-m,
.featured-icon,
.owl-pagination .owl-page.active,
#testimonial-slider .owl-pagination .owl-page.active,
.social-follow.footer-social a:hover,
.back-top a,
.team_more_info ul li a:hover,
.tag_list ul li a:hover,
.pagination ul li.current,
.pagination ul li:hover,
.btn.outline:hover,
.btn.outline:focus,
.share_article ul li:hover,
.nav-tabs > li a:hover,
.nav-tabs > li a:focus,
.label-icon,
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.label_icon,
.navbar-nav > li > .dropdown-menu,
.add_compare .checkbox,
.search_other,
.vs,
.td_divider,
.search_other_inventory,
#other_info,
.main_bg,
.slider .slider-handle,
.slider .slider-selection {
  background: #fa2837 none repeat scroll 0 0;
  fill: #fa2837;
}
.btn:hover,
.btn:focus,
.search_other:hover,
#other_info:hover {
  background-color: #c60210;
  fill: #fb4d59;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.social-follow.footer-social a:hover,
.page-header,
.tag_list ul li a:hover,
.btn.outline,
.share_article ul li,
blockquote,
.social-follow a:hover,
.radio label:before,
.navbar-default .navbar-toggle,
.owl-buttons div,
.about_info .icon_box {
  border-color: #fa2837;
}

.recent-tab .nav.nav-tabs li.active::after {
  border-color: #fa2837 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.td_divider:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fa2837;
}

.navbar-nav > li > .dropdown-menu li {
  border-bottom: 1px solid #e21625;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fa2837;
  }
}

/*-------------------------------------
	1.4. Space margins and padding
------------------------------------------------*/
.padding_none {
  padding: 0px;
}
.padding {
  padding: 20px 0;
}
.padding_50px {
  padding: 50px 0;
}
.padding_4x4_30 {
  padding: 30px;
}
.padding_4x4_40 {
  padding: 40px;
}
.space-20 {
  width: 100%;
  height: 20px;
  clear: both;
}
.space-30 {
  width: 100%;
  height: 30px;
  clear: both;
}
.space-40 {
  width: 100%;
  height: 40px;
  clear: both;
}
.space-60 {
  width: 100%;
  height: 60px;
  clear: both;
}
.space-80 {
  height: 80px;
  width: 100%;
}
.margin-btm-20 {
  margin-bottom: 20px;
  clear: both;
}
.margin-none {
  margin: 0px;
}

/*-----------------
	1.5. Form
---------------------------*/

.form-group {
  margin-bottom: 15px;
  position: relative;
}
.form-label {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 8px;
}
.form-control {
  background: #eeeeee none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  color: #888888;
  font-size: 15px;
  height: 46px;
  line-height: 30px;
  padding: 0 15px;
}
.form-control:hover,
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.form-control option {
  padding: 10px;
}

.form-control.white_bg {
  background: #fff;
  border: #e6e5e5 solid 1px;
}

/*-----------------------------------------------------------
	1.7. Section-background-color & sectino-heading
-------------------------------------------------------------------*/
.secondary-bg {
  background-color: #222;
  color: #fff;
}
.dark-bg {
  background-color: #111;
  color: #fff;
}
.gray-bg {
  background: #eeeeee;
}
.primary-bg {
  background: #fa2837;
  color: #fff;
}
.section-padding {
  padding: 110px 0;
}
.section-header {
  padding-bottom: 55px;
}
.section-header h2 {
  margin-bottom: 30px;
}
.section-header h2 span {
  font-weight: 300;
}
.section-header p {
  font-size: 17px;
}

/*--------------------------------------------
	1.9. parallex-background
---------------------------------------------------*/
.parallex-bg {
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*================
	 2. Header
===========================*/

.default-header {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}
.nav-stacked.affix {
  background: #f5f5f5 none repeat scroll 0 0;
  top: 0;
  width: 100%;
  z-index: 11;
  padding: 10px 0;
}
.logo {
  float: left;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background: #fff;
}
.header_info {
  float: right;
  text-align: right;
}
.social-follow {
  display: inline-block;
  margin-left: 20px;
  margin-top: 0;
  vertical-align: middle;
}
.social-follow ul {
  padding: 0px;
  margin: 0px;
}
.social-follow ul li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0px;
}
.social-follow ul li a {
  display: block;
  font-size: 25px;
  color: #555;
}
.social-follow li i {
  margin-right: 5px;
}
.login_btn {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.circle_icon {
  border: 1px solid #000;
  border-radius: 50%;
  color: #555;
  float: left;
  font-size: 17px;
  height: 40px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.uppercase_text {
  color: #111;
  font-size: 15px;
  font-weight: 900;
  line-height: 17px;
  margin: 0;
  text-transform: uppercase;
}
.header_widgets {
  display: inline-block;
  width: 260px;
  text-align: left;
}
.header_widgets a {
  color: #555;
}
.header_wrap {
  float: right;
}
.header_search {
  float: right;
  padding: 16px 0;
  position: relative;
}
#header-search-form::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-style: solid;
  border-width: 7px;
  content: "";
  position: absolute;
  right: 9px;
  top: -13px;
  display: none;
}
.header_search input {
  background: #ffffff none repeat scroll 0 0;
  border: 0 none;
  height: 38px;
  padding-right: 45px;
  width: 227px;
}
.header_search button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #555555;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#search_toggle {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  cursor: pointer;
  display: none;
  margin-top: 1px;
  padding: 5px 10px;
}
.user_login {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  float: left;
  margin: 18px 10px 17px 0;
}
.user_login ul {
  padding: 0px;
  margin: 0px;
}
.user_login ul li {
  line-height: 17px;
  list-style: outside none none;
  margin: 0;
  padding: 4px 15px 7px;
}
.user_login > ul > li a {
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.user_login > ul > li a i {
  margin: 0 2px 0;
}
.user_login ul.dropdown-menu {
  background: #111111 none repeat scroll 0 0;
  border-radius: 0;
  padding: 15px 0;
  top: 107%;
}

/* navigation  */
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav > li > .dropdown-menu {
    top: 80px;
    display: block !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  .navbar-nav > li:hover > .dropdown-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
  }
}

/*=======================
	10. Contact-Us-Page
================================*/
.contactus_page {
  background-image: url();
}
.contact_form {
  padding: 28px;
}
.contact_us h3 {
  margin-bottom: 22px;
}
.contact_form .form-control {
  margin-bottom: 8px;
}
.contact_form .form-group {
  margin-bottom: 35px;
}
.contact_detail ul {
  padding: 0px;
  margin: 0px;
}
.contact_detail li {
  list-style: none;
  color: gray;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
  padding: 0 150px 0 0;
}
.contact_detail li a {
  color: gray;
}
.icon_wrap .fa {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6e5e5;
  border-radius: 50%;
  color: #555;
  display: inline-block;
  font-size: 22px;
  height: 44px;
  line-height: 44px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 44px;
}
.contact_info_m,
.icon_wrap {
  display: table-cell;
  vertical-align: middle;
}
.map_wrap {
  margin: 40px 0 0;
}
.map_wrap iframe {
  width: 100%;
  height: 420px;
}

/*=============================
	21. Responsive CSS
=====================================*/

@media (max-width: 767px) {
  .header_widgets,
  header .social-follow {
    display: none;
  }
  .navbar-header {
    display: inline-block;
    margin: 0 !important;
  }
  #menu_slide {
    margin: 0px;
  }
  .default-header {
    padding: 20px 0;
  }
  #navigation .nav.navbar-nav {
    float: none;
    margin: 0px;
  }
  #navigation .nav.navbar-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 0;
  }
  #navigation.collapse.navbar-collapse {
    float: none;
  }
  #search_toggle {
    display: block;
  }
  #header-search-form {
    display: none;
    position: absolute;
    right: 0;
    top: 134%;
    z-index: 1;
  }
  #header-search-form:after {
    display: block;
  }
  .contact-info p {
    font-size: 0;
  }
  .contact-info p .fa {
    font-size: 14px;
  }
  .section-padding {
    padding: 80px 0;
  }
  .page-heading h2,
  .page-heading h1,
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  .full_width_img {
    overflow: hidden;
  }
  .full_width_img img {
    width: auto;
  }
  .section-header p {
    font-size: 16px;
  }
  .coustom-breadcrumb {
    padding: 0 10px;
  }
  .coustom-breadcrumb li {
    font-size: 14px;
    line-height: 35px;
  }
  .about_content h3 {
    margin-top: 0;
  }
  .fun-facts-m {
    margin: 10px auto;
  }
  .team_member {
    margin-bottom: 40px;
  }
  .team_more_info ul li a {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    width: 25px;
  }
  .brand-section {
    padding: 15px 0 35px;
  }
  .brand-hadding {
    border-bottom: 1px solid #bbbbbb;
    border-right: 0px;
    float: none;
    margin: 0 auto 30px;
    padding: 0;
    width: 100%;
  }
  .brand-hadding:after {
    display: none;
  }
  .brand-logo-list {
    float: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .footer-top {
    padding: 40px 0;
  }
  .footer-top h6 {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .footer-bottom div {
    text-align: left !important;
  }
  .footer-bottom .footer_widget {
    margin: 0 30px 0 0;
  }
  .copy-right {
    font-size: 14px;
  }
  .back-top {
    right: 10px;
  }
  .back-top a {
    height: 30px;
    line-height: 26px;
    width: 30px;
  }
  .contact_form {
    margin-bottom: 60px;
  }
  .contact_detail li {
    padding: 0;
  }
  .error_text_m {
    margin-bottom: 50px;
    padding: 0;
    position: relative;
  }
  .error_text_m h2 {
    font-size: 150px;
  }
  .background_icon i {
    color: #e7e7e7;
    font-size: 278px;
    line-height: 170px;
    vertical-align: top;
  }
  .background_icon {
    text-align: center;
  }
  .error_icon i {
    font-size: 80px;
  }
  .error_icon {
    padding-right: 20px;
    text-align: right;
  }
  .error_msg_div {
    padding-top: 0;
  }
  .error_msg_div .btn {
    margin: 10px auto;
  }
  .error_msg_div h3,
  .error_msg_div h3 span {
    font-size: 40px;
  }
  .video_box iframe {
    border: 0 none;
    height: 250px;
    width: 100%;
  }
  .article_full_info .articale_header h2 {
    font-size: 30px;
  }
  .article_full_info .article_meta {
    padding: 6px 15px;
  }
  .article_meta ul li {
    font-size: 13px;
    margin: 0 15px 3px 0;
  }
  .article_img {
    margin: 0 auto 15px;
    min-height: 180px;
    overflow: hidden;
    position: relative;
  }
  .article_full_info .article_img {
    min-height: inherit;
  }
  .article_info p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 20px;
  }
  .article_tag {
    padding: 15px;
  }
  .share_article {
    margin-top: 20px;
    text-align: left;
  }
  .commentlist li img.avatar {
    height: 50px;
    margin-right: 15px;
    width: 50px;
  }
  .comment-body h1,
  .comment-body h2,
  .comment-body h3,
  .comment-body h4,
  .comment-body h5,
  .comment-body h6,
  .comment-body table,
  .comment-body ul,
  .comment-body ol,
  .comment-body blockquote,
  .comment-body dl,
  .comment-body address,
  .comment-body pre,
  .comment-body p,
  .comment-body .reply {
    margin-left: 70px;
  }
  .comment-body p {
    font-size: 14px;
    line-height: 23px;
  }
  .comment ul.children {
    padding-left: 60px;
  }
  .comment-respond {
    margin-bottom: 100px;
  }
  .popular_post ul li {
    display: inline-block;
    margin: 0 auto 20px;
    padding: 0 9px 0 0;
    vertical-align: top;
    width: 49%;
  }
  .article_full_info ul,
  .article_full_info ol {
    padding-left: 10px;
  }
  .article_full_info ul li i,
  .article_full_info ol li i {
    margin: 0 3px 0 0;
  }
  .article_tag ul,
  .article_tag ol {
    padding: 0px;
  }
  .articale_header {
    position: relative;
  }
  .article_img:hover img {
    transform: scale(1);
  }
  .articale_header h2 {
    font-size: 26px;
  }
  .services_image {
    margin-bottom: 25px;
  }
  .footer-bottom .footer_widget {
    display: block;
    margin: 0 auto 10px;
  }
  .login_btn .btn.btn-xs {
    margin-top: 8px;
  }
  .navbar-nav > li > .dropdown-menu {
    margin: 0 20px;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    padding: 15px 5px;
  }
  #navigation .nav.navbar-nav .dropdown-menu li:last-child {
    border: 0px;
  }
  .navbar-default .navbar-collapse {
    border: 0 none;
    margin-top: 10px !important;
  }
  .user_login,
  .header_search {
    padding: 0px;
    margin: 0 0 0 5px;
  }
  #navigation_bar.navbar {
    min-height: inherit;
    padding: 15px 0 10px;
  }
  .modal-dialog {
    margin: 20px auto;
    width: 90%;
  }
  .mid_divider {
    display: none;
  }
  .modal .gray_text {
    margin-top: 50px;
  }
  .modal-content {
    max-height: 400px;
    overflow: auto;
    padding: 0 20px 22px;
  }
  .modal-footer {
    padding: 15px 0;
  }
  .dealer_info {
    padding: 0;
    width: 59%;
  }
  .view_profile p {
    display: inline;
    font-size: 15px;
    margin: 10px 0 0 8px;
  }
  .comment_form {
    margin: 50px 0 110px;
  }
  .dealer_logo {
    margin-bottom: 20px;
    padding: 8px;
  }
  .dealer_profile .dealer_info {
    padding: 0;
  }
  .dealer_social_links {
    margin: 0;
  }
  .dealer_social_links li {
    margin: 0 15px 20px 0;
  }
  .recent_addedcars {
    overflow: hidden;
  }
  .recent_addedcars ul li {
    width: 50%;
    float: left;
  }
  .product-listing-img,
  .product-listing-content {
    float: none;
    width: 100%;
  }
  .product-listing-img img {
    width: 100%;
  }
  .product-listing-content {
    padding: 15px;
  }
  .pagination {
    margin-bottom: 100px;
  }
  .profile_nav {
    border-bottom: 1px solid #c5c5c5;
    border-right: medium none;
    text-align: left;
    padding: 20px 0;
  }
  .profile_nav ul li {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  .user_profile_info {
    padding: 15px;
    max-width: inherit;
  }
  .upload_user_logo {
    width: 160px;
  }
  .profile_wrap form .form-group {
    padding: 0 15px;
  }
  .testimonial-img {
    float: none;
    left: inherit;
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  .testimonial-content {
    float: none;
    margin: -60px auto 0;
    max-width: 480px;
    padding: 80px 30px 30px;
    width: 100%;
  }
  .testimonial-heading {
    padding-left: 80px;
  }
  .testimonial-heading::after {
    font-size: 70px;
  }
  .testimonial-content > p {
    padding-left: 0;
  }
  .listing_detail_head .price_info {
    text-align: left;
  }
  .listing_detail_head .price_info p {
    margin: 20px 0 0;
  }
  .listing_detail_head {
    margin-bottom: 30px;
  }
  .listing-detail {
    padding: 60px 0;
  }

  .listing_detail_wrap .tab-content {
    padding: 15px;
  }
  .listing_detail_wrap .table-responsive {
    border: 0px;
  }
  .listing_detail_wrap .nav-tabs > li a {
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
  }
  .main_features ul li {
    margin: 0 17px 10px 0;
  }
  #other_info {
    display: block;
  }
  #info_toggle {
    display: none;
  }
  .col-list-3 {
    width: 100%;
  }
  .car-info-box img,
  .featured-car-img img {
    width: 100%;
  }
  .blog-info-box img {
    width: 100%;
  }
  .blog-list {
    margin: 0 auto 60px;
  }
  .banner-section::after {
    height: 100%;
  }
  .banner-section {
    padding: 80px 0;
  }
  .banner_content {
    padding-left: 0;
  }
  .looking-car {
    padding: 30px;
    width: auto;
    margin: 0 auto 40px;
  }
  .looking-cat-image {
    max-width: 350px;
    position: relative;
    right: 0;
    top: 0;
  }
  .looking-car-content {
    width: 100%;
  }
  .car-info-box ul {
    padding: 0 5px;
  }
  .compare_info {
    overflow: scroll;
  }
  .compare_product_img,
  .compare_product_title,
  .compare_product_info {
    width: 1140px;
  }
  .compare_info h4 {
    font-weight: 400;
    line-height: 28px;
  }
  .coming_soon_wrap .btn {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 18px;
  }
  .coming_soon_wrap .btn .angle_arrow {
    display: none;
  }
  .coming_soon_wrap .footer_widget,
  .coming_soon_wrap .footer_widget ul {
    float: none;
    margin: 0;
  }
  .coming_soon_wrap .footer_widget ul li a {
    margin: 0 8px 0 0;
  }
  .about_info,
  .featured-car-list {
    margin: 0 auto 30px;
  }
  .fact_m,
  .our_services {
    margin: 0 5%;
  }
  .vc_row {
    display: block;
    flex-wrap: inherit;
  }
  #help h2 {
    line-height: 40px;
    font-weight: 700;
    font-size: 28px;
  }
  .blog-info-box li {
    line-height: 30px;
  }
  .fact_m ul li i {
    font-size: 36px;
  }
  .fact_m ul li p {
    display: flex;
    line-height: 22px;
  }
  .banner_text h1 {
    font-size: 40px;
  }
  #filter_form2 {
    margin: 0 -15px;
  }
  .services_info p {
    display: flex;
  }
  .header_style2 .navbar-header {
    display: block;
  }
  .header_style2 .logo {
    margin: 0;
  }
  .header_style2 #menu_slide {
    margin: 5px 0;
  }
  .header_style2 .header_wrap {
    background: #111111 none repeat scroll 0 0;
    float: none;
    margin: 13px -15px 0;
    padding: 0 15px;
    text-align: left;
  }
  .header_style2 #navigation_bar {
    padding: 15px 0 0;
  }
  .header_style2 .user_login {
    border: 0 none;
    display: inline-block;
    float: none;
    margin: 9px 0;
    vertical-align: middle;
  }
  .header_style2 .login_btn {
    float: right;
    margin: 10px 0;
    vertical-align: middle;
  }
  .header_style2 .login_btn .btn.btn-xs {
    margin: 0;
  }
  .header_style2 .user_login i {
    color: #fff;
  }
  .header_style2 .navbar-default .navbar-nav > li > a {
    display: block;
    padding: 15px;
  }
  .header_style2 .navbar-nav > li,
  .header_style2 .navbar-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    display: block;
    text-align: left;
  }
  .header_style2 .navbar-default .navbar-nav li:hover .dropdown-menu li a {
    color: #111;
  }
  .header_style2 .navbar-nav > li > .dropdown-menu a:hover,
  .header_style2 .navbar-default .navbar-nav li:hover .dropdown-menu li a:hover,
  .header_style2 .dropdown-menu > .active > a,
  .header_style2 .dropdown-menu > .active > a:focus,
  .header_style2 .dropdown-menu > .active > a:hover,
  .header_style2 .dropdown-menu > li > a:focus,
  .header_style2 .dropdown-menu > li > a:hover {
    background: #fff none repeat scroll 0 0;
  }
  #banner2 .carousel-caption {
    left: 10%;
    right: 10%;
  }
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    line-height: 16px;
  }
  #banner2 h1 {
    font-size: 26px;
  }
  #banner2 h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .sorting-count,
  .result-sorting-by {
    float: none;
    margin: 0 auto 8px;
  }
  .login_btn .btn.btn-xs {
    font-size: 11px;
    padding: 0 15px;
  }
  .fun-facts-m {
    height: 130px;
    width: 130px;
  }
  .fun-facts-m h2 {
    font-size: 26px;
  }
  .fun-facts-m p {
    font-size: 12px;
    line-height: 14px;
  }
  .popular_post ul li {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
  }
  .dealer_info p {
    font-size: 14px;
    line-height: 24px;
  }
  .dealer_info h5 {
    font-size: 18px;
    line-height: 20px;
  }
  .recent_addedcars ul li {
    width: 100%;
    float: none;
  }
  .car-location {
    float: none;
    margin: 20px 0 0;
  }
  .product-listing-content li {
    width: 50%;
  }
  .upload_user_logo {
    float: none;
    margin-bottom: 15px;
    width: 170px;
  }
  .user_profile_info .dealer_info {
    float: none;
    width: 100%;
  }
  .vehicle_img {
    width: 40%;
    margin-right: 5%;
  }
  .vehicle_title {
    width: 55%;
  }
  .vehicle_status {
    clear: both;
    float: none;
    padding-top: 15px;
    text-align: left;
    width: 100%;
  }
  .nav-tabs > li {
    float: none;
  }
  .recent-tab .nav-tabs > li {
    float: left;
  }
  .nav-tabs > li a {
    margin: 0px;
  }
  .col-list-3 {
    width: 100%;
  }
  .car-info-box li {
    font-size: 12px;
    line-height: 40px;
    margin: 0 5px 0 auto;
  }
  .fact_m ul li {
    margin: 0 auto 20px;
    width: 100%;
  }
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    line-height: 16px;
  }
  #banner2 h3,
  #banner2 h1 {
    font-size: 16px;
    margin: 0 auto 5px;
  }
  #banner2 .btn {
    font-size: 12px;
    line-height: 24px;
    padding: 4px 26px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li {
    padding: 0 8px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 20px 5px;
    font-size: 12px;
  }
  .navbar-default .navbar-nav > li.dropdown > a {
    padding: 20px 30px 20px 5px;
  }
  .navbar-nav > li > a {
    font-size: 13px;
  }
  #header-search-form {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
  }
  .header_search #search_toggle,
  #header-search-form::after {
    display: block;
  }
  .header_widgets {
    width: auto;
    margin: 0 5px 0 0;
  }
  .login_btn {
    margin: 2px;
  }
  .login_btn .btn.btn-xs {
    font-size: 10px;
    padding: 0 15px;
  }
  .social-follow {
    margin: 0px;
  }
  .social-follow ul li a {
    font-size: 18px;
  }
  .social-follow ul li a i {
    margin-right: 2px;
  }
  .circle_icon {
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    margin-right: 6px;
    width: 24px;
  }
  .uppercase_text {
    display: none;
  }
  .contact-info p {
    font-size: 12px;
  }
  .section-padding {
    padding: 100px 0;
  }
  .section-header h2 {
    margin-bottom: 30px;
  }
  .brand-logo-list {
    width: 86%;
  }
  .footer-bottom div {
    text-align: left !important;
  }
  .footer-bottom .footer_widget {
    margin: 0 30px 0 0;
  }
  .footer-top h6 {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .contact_form {
    margin-bottom: 60px;
  }
  .background_icon i {
    font-size: 265px;
    line-height: 240px;
  }
  .error_text_m h2 {
    font-size: 100px;
  }
  .error_icon i {
    font-size: 80px;
  }
  .error_icon {
    width: 22%;
  }
  .error_msg_div h3 {
    font-size: 50px;
  }
  .error_msg_div h3 span {
    font-size: 30px;
  }
  .error_msg_div .btn {
    margin-top: 10px;
  }
  .team_more_info p,
  .team_more_info p a {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 6px;
  }
  .team_more_info ul li a {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    width: 22px;
  }
  .fun-facts-m {
    height: 158px;
    width: 158px;
  }
  .fun-facts-m h2 {
    font-size: 30px;
  }
  .fun-facts-m p {
    font-size: 13px;
  }
  .about_content h3 {
    margin-top: 0;
  }
  .listing_box h5 {
    margin-bottom: 0;
  }
  .popular_post ul li {
    display: inline-block;
    margin: 0 auto 20px;
    padding: 0 9px 0 0;
    vertical-align: top;
    width: 49%;
  }
  .comment-respond {
    margin-bottom: 100px;
  }
  .comment-form {
    margin: 10px 0;
  }
  .article_meta ul li {
    font-size: 14px;
    margin: 0 15px 10px 0;
  }
  .articale_header h2 {
    font-size: 28px;
  }
  .articale_header {
    padding: 15px 30px;
  }
  .article_full_info .articale_header h2 {
    font-size: 40px;
  }
  .services_image {
    margin-bottom: 25px;
  }
  .dealer_logo {
    padding: 14px;
  }
  .dealer_profile .dealer_info {
    padding: 5px 0;
  }
  .dealer_social_links {
    margin: 0;
  }
  .dealer_contact_info {
    margin: 0 auto 5px;
    padding: 12px;
  }
  .recent_addedcars {
    overflow: hidden;
  }
  .recent_addedcars ul li {
    width: 50%;
    float: left;
  }
  .pagination {
    margin-bottom: 100px;
  }
  .testimonial-m {
    margin: 0 auto;
    max-width: 580px;
  }
  .main_features ul li {
    margin: 0 6px 0 0;
    min-height: 103px;
    min-width: 113px;
  }
  .listing_detail_head .price_info {
    text-align: left;
  }
  .listing_detail_head .price_info p {
    margin: 20px 0 0;
  }
  .listing_detail_head {
    margin-bottom: 30px;
  }
  .listing-detail {
    padding: 60px 0;
  }
  #other_info {
    display: block;
  }
  #info_toggle {
    display: none;
  }
  .listing_other_info button {
    font-size: 14px;
    margin: 0 20px 0 0;
  }
  .banner_content {
    padding: 0px;
  }
  .banner-section::after {
    height: 100%;
  }
  .banner-section {
    padding: 100px 0;
  }
  .looking-car {
    padding: 30px;
    width: auto;
  }
  .looking-cat-image {
    max-width: 350px;
    position: relative;
    right: 0;
    top: 0;
  }
  .looking-car-content {
    width: 100%;
  }
  .col-list-3 {
    float: left;
    padding: 0 15px;
    width: 50%;
  }
  .col-list-3:nth-child(3n + 1) {
    clear: inherit;
  }
  .blog-info-box ul {
    background: #222222 none repeat scroll 0 0;
    padding: 15px;
    position: relative;
  }
  .blog-info-box li {
    display: block;
    line-height: 30px;
    margin: 0;
  }
  .compare_info {
    overflow: scroll;
  }
  .compare_product_img,
  .compare_product_title,
  .compare_product_info {
    width: 1140px;
  }
  .user_login ul li {
    padding: 4px 8px 7px;
  }

  #banner2 .carousel-caption {
    left: 10%;
    right: 10%;
  }
  #banner2 h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  #banner2 h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #filter_form2 {
    margin: -60px 0 -20px;
  }
  .header_style2 .navbar-header {
    float: none;
  }
  .header_style2 .navbar-toggle {
    display: block;
    margin: 23px 0;
  }
  .header_style2 .navbar-collapse.collapse {
    display: none !important;
    float: none !important;
  }
  .header_style2 .navbar-collapse.collapse.in {
    display: block !important;
  }
  .header_style2 .header_wrap {
    float: none;
    text-align: left;
    background: #111;
    position: relative;
  }
  .header_style2 .header_wrap::before {
    background: #111111 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -440px;
    position: absolute;
    top: 0;
    width: 1000%;
  }
  .header_style2 .user_login {
    display: inline-block;
    float: none;
    margin: 10px 0;
    z-index: 1;
    position: relative;
  }
  .header_style2 .login_btn {
    float: right;
    margin: 10px 0;
    z-index: 1;
    position: relative;
  }
  .header_style2 .user_login i {
    color: #fff;
  }

  #fun-facts.vc_row,
  #fun-facts .vc_col {
    display: block;
  }
  #fun-facts .fact_m {
    display: block;
    margin: 0 auto;
    max-width: 718px;
    overflow: hidden;
    padding: 100px 0;
    width: auto;
  }
  #fun-facts .section-padding {
    padding: 0px;
  }
  .facts_section_bg {
    height: 400px;
    position: relative;
  }
  .blog-info-box .share_article ul li {
    height: 25px;
    line-height: 25px;
    width: 25px;
  }
  .blog-info-box .share_article:hover ul {
    padding: 3px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav > li {
    padding: 0 17px;
  }
  h5 {
    font-size: 17px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 20px 5px;
  }
  .navbar-default .navbar-nav > li.dropdown > a {
    padding: 20px 30px 20px 5px;
  }
  .social-follow {
    vertical-align: top;
  }
  .banner_content {
    padding: 0px;
  }
  .looking-cat-image {
    max-width: 240px;
    position: absolute;
    right: -30px;
    top: 70px;
  }
  .car-info-box ul {
    padding: 0 10px;
  }
  .car-info-box li {
    font-size: 11px;
    line-height: 40px;
    margin: 0 5px 0 auto;
  }
  .blog-info-box ul {
    padding: 0 10px;
  }
  .blog-info-box li {
    font-size: 12px;
    line-height: 40px;
    margin: 0 5px 0 auto;
  }
  .section-padding {
    padding: 100px 0;
  }
  .faq_category {
    padding: 40px 20px;
  }
  .footer-top h4 {
    font-size: 18px;
  }
  .background_icon i {
    font-size: 428px;
  }
  .error_msg_div h3 span {
    font-size: 30px;
  }
  .articale_header h2 {
    font-size: 37px;
  }
  .article_full_info .article_meta {
    padding: 6px 15px;
  }
  .article_meta ul li {
    font-size: 14px;
    margin: 4px 14px 4px 0;
  }
  .article_tag {
    padding: 20px;
  }
  .article_tag h6 {
    float: left;
  }
  .article_tag .tag_list {
    display: block;
  }
  .article_tag .tag_list li {
    margin-bottom: 6px;
  }
  .share_article h6 {
    float: none;
  }
  .articale_header h2 {
    font-size: 32px;
  }
  .article_full_info .articale_header h2 {
    font-size: 40px;
  }
  .grid_listing .product-listing-content {
    padding: 14px 14px 0;
  }
  .product-listing-content li {
    font-size: 11px;
  }
  .grid_listing .product-listing-content ul.features_list {
    margin: 16px -10px 0;
    padding: 12px;
  }
  .grid_listing .product-listing-content {
    padding: 10px 10px 0;
  }
  .sidebar_widget {
    padding: 20px 14px 20px;
  }
  .btn {
    padding: 5px 22px;
  }
  .sell_car_quote .btn {
    font-size: 14px;
    padding: 4px 15px;
  }
  .pagination {
    margin-bottom: 100px;
  }
  .listing_other_info button {
    font-size: 14px;
    margin: 0 30px 0 0;
  }
  .main_features ul li {
    margin: 0 8px 0 0;
    min-height: 100px;
    min-width: 108px;
    padding: 10px;
  }
  .share_vehicle {
    padding: 20px 15px;
  }
  .widget_heading i {
    margin: 0 3px 0 0;
  }
  .dealer_detail p span {
    font-weight: 800;
    width: auto;
  }
  .dealer_detail p {
    font-size: 13px;
    margin: 0 auto 5px;
  }
  .listing_heading div {
    font-size: 14px;
    padding: 13px;
  }
  .inventory_info_list ul li div {
    font-size: 15px;
    padding: 14px 20px;
  }
  .compare_product_title table td,
  .compare_product_title table th,
  .compare_product_title li {
    font-size: 17px;
    padding: 20px;
  }
  .compare_info .compare_product_img .search_other_inventory {
    font-size: 23px;
    padding: 20px;
  }
  .fact_m ul li {
    min-height: 160px;
  }
  .fact_m ul li i {
    font-size: 44px;
  }
  .fact_m ul li p {
    display: flex;
    line-height: 20px;
  }
  .testimonial_wrap {
    padding: 40px 20px;
  }
}
