 /*~~~~~~~ INIT. BTN ~~~~~~~ */

.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	/*padding-right: 3.1rem;*/
	font-size: 1rem;
	color: black;
	/*letter-spacing: .5rem;*/
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
	
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}



/* From center */

.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}

/*-------------------------------------------*/



/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	/*--def: #96B7C4; 	*/
	--inv: #fff;
	align-items: center;
	height: 100vh;
	width: 100%;*/
	background-image: linear-gradient(-25deg, #37465b 0%, #212b38 100%);
	margin: 0;
	padding: 0;
	align-items: center;
	/*display: flex;*/
	min-height: 100vh;
	justify-content: center;
	/*display: flex;
	/*justify-content: center;*/
	/*flex-direction: column;*/
	/*background-image: linear-gradient(-25deg, #3b6978 0%, #e0dede 100%);*/
	/*background-position: top;
	background-repeat: no-repeat;
	background-size: cover;*/
	/*616161*/
	/*96B7C4*/
}



html {
	font-size: 15px;
	font-family: 'Playfair Display', serif;
}
div {margin-bottom: 3rem;}
div:last-child {margin-bottom: 0;}

