/*CSS - Portfolio section*/

.portfolio {
  height: 70vh;
  display: flex;
}

.portfolio .left-section {
  margin-left: 20%;
  width: 40%;
  background-color: #414141;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5%;
  position: relative;
}

.portfolio h1 {
  margin-bottom: 3%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: orange;
  text-transform: lowercase;
  position: absolute;
  top: 16%;
}

.portfolio img {
  width: 450px;
  position: absolute;
}

.pseudo-btn {
  width: 100px;
  height: 35px;
  margin-top: 10px;
  /* padding: 10px 30px; */
  border-style: none;
  background-color: #272727;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  /*z-index: 10000;*/
}

.portfolio .right-section {
  width: 40%;
  background-color: #414141;
  display: flex;
  flex-direction: column;
  padding: 14% 5% 10% 2.5%;
}

.right-section h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: orange;
  text-transform: uppercase;
}

.left-section h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: orange;
  text-transform: uppercase;
}

.right-section p {
  margin: 1.5% 0 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.15em;
  color: #c5c1c1;
}

.left-section p {
  margin: 1.5% 0 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.15em;
  color: #000000;
}

.right-section .code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section .code > button {
  margin: 10% 1.5%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: "Raleway", sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* BUTTONS */
.btn {
  width: 175px;
  height: 35px;
  margin-top: 10px;
  padding: 10px 30px;
  border-style: none;
  border: 2px solid #2b4455;
  background-color: #5fa7d6;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  /* z-index: 10000; */
  cursor: pointer;
}

.btn:hover {
  background-color: #fff9ef;
  color: #121824;
  border: 2px solid #192e49;
}
