/*extra css for skills page*/

.skills {
	height: 60vh;
    /* background-color: #292929; */
	margin-left: 15%;
	width: 80%;
	display: flex;
    position: relative;
    
}



.skills .toolkit {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	top: 15%;
    left: 4.5%;
    
}

.skills .toolkit > img {
	height: 125px;
	width: 100px;
	margin: 3% 1.5%;
}
