/*--------Main style*/
a {
  color: white;
}

#header {
  background-color: none;
  color: orange;
  text-align: center;
  padding: 50px;
  padding-left: 280px;
  position: relative;
  top: 50px;
  align-items: right;
  text-shadow: 1px 2px 4px #000000;
  /*border: 5px solid black;*/
}

#navigation {
  line-height: 40px;
  background-color: gray;
  opacity: 0.85;
  height: 450px;
  width: 80px;
  float: bottom;
  margin-left: 120px;
  bottom: 60px;
  display: block;
  position: absolute;
  background-image: url(./assets/images/vlinebg.jpg);
  background-position: cover;
}

#section {
  width: 350px;
  float: left;
  padding: 10px;

  margin-left: 15%;
  height: 45px;

  /*	align-items:center
	margin-bottom:0;
	font-style: normal;
	font-weight:400;
	line-height:44px;
	letter-spacing:.15em;*/
}

#section2 {
  width: 650px;
  padding: 10px;
  margin-left: 15%;
  height: 50%;
  position: relative;
  margin-top: 90px;
  display: flex;
  margin-right: 150px;
  background-image: url(./assets/images/aboutmebg.jpg);

  /*float: right;*/
}

.flex .sectionSpacer p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  min-height: 50vh;
  flex-wrap: wrap;
  line-height: 1.8em;

  height: 100px;
  width: 700px;
  margin: 15px 0;
  column-span: 50;
  padding: 20px;
  text-indent: 1em;
  text-align: justify;
  /* position: relative; */
}

#section3 {
  width: 650px;
  padding: 10px;
  margin-left: 30%;
  height: 50%;
  position: relative;
  margin-top: 90px;
  display: flex;
  margin-right: 150px;
  background-image: url(./assets/images/aboutmebg2.jpg);

  /*float: right;*/
}

#footer {
  background-color: black;
  opacity: 0.75;
  color: white;
  text-align: center;
  padding: 8px;
  clear: both;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}

#footer-spc {
  background-color: black;
  opacity: 0.75;
  color: white;
  text-align: center;
  padding: 8px;
  clear: both;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/*utilities*/
/*----------------------------------------*/

.sectionbg {
  background-image: url(./assets/images/vlinebg.jpg);
}

.image-container {
  /* width: 50%; */
  padding: 3rem;
  opacity: 1;
}

.image-container img {
  object-fit: cover;
  width: 60px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: auto;
  border: 1px solid;
  /*display: block;*/
}

.divider {
  background-color: none;
  color: black;
  /*padding: 50px;*/
  padding: 15px; /*giving space between skill HR and items*/
  margin-left: 280px;
  position: relative;
  display: flex;
  top: 20px;
  align-items: right;
  text-shadow: 1px 2px 4px #000000;
}

.skillImg {
  width: 100px;
  padding: 10px;
  margin: 30px;
}

.skills-cat {
  color: black;
}

/*ratings*/
.checked {
  color: orange;
}

/*--------------*/

.skills-icon {
  display: flex;
  float: left;
  margin-bottom: 15px;
  position: relative;
  padding: 5;
  height: 2rem;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

hr {
  color: white;
  background-color: rgb(155, 155, 155);
  width: 25rem;
  border: none;
  height: 2px;
  margin: 1.5rem 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Responsive*/
@media (max-width: 400px) {
  body {
    flex-direction: column;
    background-color: black !important;
  }

  p {
    display: flex;
    font-size: 50vh;
  }

  .header {
    padding-left: 50px;
    display: block;
  }
}

.section2 {
  display: inline-block;
  float: bottom;
  margin: 0;
}

.section {
  display: none;
}

@media (max-width: 768px) {
  .sectionSpacer {
    flex-direction: column-reverse;
  }
}
@media (max-width: 360px) {
  .sectionSpacer {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
}
.sectionSpacer .flex {
  width: 50%;
  height: 100vh;
}
@media (max-width: 768px) {
  .sectionSpacer .flex {
    height: 50vh;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .sectionSpacer .flex {
    height: auto;
    width: 100%;
  }
}

/* Responsiveness */

@media (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    /* width: auto; */
    padding: 3rem 0 0;
  }

  .overview {
    order: 1;
    padding: 3rem 0;
  }

  main {
    background:
     /* top, transparent #9C27B0 */ linear-gradient(
        rgba(0, 255, 222, 0.45),
        rgba(0, 88, 255, 0.45)
      ),
      /* bottom, image */
        url(https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .fullname,
  .job-title {
    text-align: center;
  }

  .job-title {
    font-weight: bolder;
  }

  .description {
    text-align: center;
    line-height: 1.5em;
    padding: 80px;
  }

  hr {
    margin: auto;
  }

  .contact-btn {
    display: block;
    margin: auto;
  }

  .social-media {
    text-align: center;
    margin-top: 3rem;
  }

  .ad {
    text-align: center;
  }

  .works {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    /* width: auto; */
    padding: 3rem 0 0;
  }

  .overview {
    order: 1;
    padding: 3rem 0;
  }

  main {
    background:
     /* top, transparent #9C27B0 */ linear-gradient(
      rgba(0, 255, 222, 0.45),
      rgba(0, 88, 255, 0.45)
    );
  }

  .fullname,
  .job-title {
    text-align: center;
    margin-left: 110px;
  }

  .job-title {
    font-weight: bolder;
  }

  .description {
    text-align: center;
    line-height: 1.5em;
    padding: 110px;
  }

  hr {
    margin: auto;
  }

  .contact-btn {
    display: block;
    margin: auto;
  }

  .social-media {
    text-align: center;
    margin-top: 3rem;
  }

  .ad {
    text-align: center;
  }

  .works {
    text-align: center;
    padding: 80px;
  }
}
