.portfolio {
  height: 100vh;
  display: flex;
}

.portfolio .left-section {
  margin-left: 20%;
  width: 40%;
  background-color: #fff9ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2.5%;
  position: relative;
}

.portfolio h1 {
  margin-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-transform: lowercase;
  position: absolute;
  top: 16%;
}

.portfolio img {
  width: 450px;
  position: absolute;
}

.pseudo-btn {
  width: 100px;
  height: 35px;
  margin-top: 10px;
  /* padding: 10px 30px; */
  border-style: none;
  background-color: #272727;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  z-index: 10000;
}

.portfolio .right-section {
  width: 40%;
  background-color: #fff9ef;
  display: flex;
  flex-direction: column;
  padding: 14% 5% 10% 2.5%;
}

.right-section h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-transform: uppercase;
}

.left-section h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-transform: uppercase;
}

.right-section p {
  margin: 1.5% 0 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.15em;
  color: #000000;
}

.left-section p {
  margin: 1.5% 0 0 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.15em;
  color: #000000;
}

.right-section .code {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section .code > button {
  margin: 10% 1.5%;
}

/* ---------PORTFOLIO CSS----------------- */

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
