* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #d8f0ed;
  text-shadow: 1px 5px 25px #000000; /* Giving a highlight color to the text */
  font-family: "Raleway", sans-serif;
  /* background:

	url(https://images.pexels.com/photos/237464/pexels-photo-237464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
	; */

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* creating classes */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffbe0a;
  color: white;
}

/*Top Nav parts end here */
ul.cname {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.cname li {
  display: inline;
  padding: 2px;
}

.container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 100px;
}

.overview {
  padding: 3rem;
  background: rgba(0, 0, 0, 0.5);
}

.fullname {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  text-shadow: 1px 2px 4px #919191;
}

.job-title {
  color: #ffc107;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 40rem;
  border: none;
  height: 2px;
  background-color: #7d8181;
  margin: 1.5rem 0;
}

a {
  color: #9af1fc;
  text-decoration: none;
}

.works {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.works h2 {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.works img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.social-media a {
  color: #efefef;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  opacity: 0.75;
}

.social-media a:hover {
  opacity: 1;
}

.ad {
  margin: 0.5rem;
  font-size: 1rem;
}

.image-container {
  /* width: 100%; */
  padding: 3rem;
  opacity: 1;
}

.image-container img {
  object-fit: cover;
  width: 100px;
  height: auto;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: auto;
  display: block;
}

/* 2nd code */

@media (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    width: 180px;
    padding: 3rem 0 0;
    height: auto;
    margin-left: 200px;
  }

  .overview {
    order: 1;
    padding: 3rem 0;
  }

  main {
    background:
   /* top, transparent #9C27B0 */ linear-gradient(
      rgba(0, 255, 222, 0.45),
      rgba(0, 88, 255, 0.45)
    );
  }

  .logo {
    width: 200px;
  }
  .fullname,
  .job-title {
    text-align: center;
  }

  .job-title {
    font-weight: bolder;
  }

  .description {
    text-align: center;
    font-size: 15px;
  }

  hr {
    margin: auto;
  }

  .contact-btn {
    display: block;
    margin: auto;
  }

  .social-media {
    text-align: center;
    margin-top: 3rem;
  }

  .ad {
    text-align: center;
  }

  .works {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .sectionSpacer {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .container {
    flex-direction: column;
  }

  .image-container {
    /* width: auto; */
    padding: 3rem 0 0;
  }

  .overview {
    order: 1;
    padding: 3rem 0;
  }

  main {
    background:
     /* top, transparent #9C27B0 */ linear-gradient(
      rgba(0, 255, 222, 0.45),
      rgba(0, 88, 255, 0.45)
    );
  }

  .fullname,
  .job-title {
    text-align: center;
  }

  .job-title {
    font-weight: bolder;
  }

  .description {
    text-align: center;
    line-height: 1.5em;
    padding: 120px;
  }

  hr {
    margin: auto;
  }

  .contact-btn {
    display: block;
    margin: auto;
  }

  .social-media {
    text-align: center;
    margin-top: 3rem;
  }

  .ad {
    text-align: center;
  }

  .works {
    text-align: center;
  }
}
